@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap");
:root {
  --green: #0be881;
  --blue: #0a3d62;
  --white: #dff9fb;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
  color: var(--blue);
  font-family: "Cairo", sans-serif;
}

.body--dark {
  color: var(--green);
}

.navbar__brand {
  background-color: var(--green);
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.navbar__brand--dark {
  background-color: var(--blue);
  color: var(--green);
}

.navbar__brand--theme-toggler {
  width: 45px;
  height: 20px;
  border: 2px solid var(--blue);
  border-radius: 20px;
  cursor: pointer;
}

.navbar__brand--theme-toggler--dark {
  border-color: var(--green);
  background-color: var(--blue);
}

.navbar__brand--theme-toggler__toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue);
  transition: transform 400ms;
}

.navbar__brand--theme-toggler__toggle--dark {
  background-color: var(--green);
}

.moveRight {
  transform: translateX(25px);
}

.hero {
  background-color: var(--green);
  display: grid;
  padding: 20px;
  grid-template-columns: 2fr 1fr;
}

.hero--dark {
  background-color: var(--blue);
  color: var(--green);
}

.hero__text {
  text-align: left;
}

.hero__text-1 {
  margin: 20px 0 40px 0;
  font-size: 2.5rem;
}

.hero__text-2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.hero__link,
.src-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--blue);
  padding: 10px 20px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  display: block;
  width: fit-content;
  transition: background-color 350ms;
}

.hero__link--dark,
.src-link--dark {
  color: var(--green);
  border-color: var(--green);
  background-color: var(--blue);
}

.hero__link {
  margin-top: 50px;
}

.src-link {
  margin: 20px auto;
}

.hero__link:hover,
.src-link:hover {
  background-color: var(--blue);
  color: var(--green);
}

.hero__link--dark:hover,
.src-link--dark:hover {
  background-color: var(--green);
  color: var(--blue);
}

.hero__image {
  height: 350px;
  width: 350px;
  fill: var(--blue);
  padding: 0 0 20px 0;
  position: relative;
  bottom: 20px;
}

.hero__image--dark {
  fill: var(--green);
}

.highlight {
  text-decoration: underline;
}

.primary-content {
  padding: 50px;
}

.primary-content--dark {
  background-color: var(--white);
}

.primary-content__heading {
  font-size: 2rem;
}

.primary-content__desc {
  font-size: 1.5rem;
}

.primary-content__dob-input,
.primary-content__check-btn {
  font-size: 1.7rem;
  padding: 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  color: var(--blue);
  font-family: inherit;
  outline: none;
}

.primary-content__dob-input--dark,
.primary-content__check-btn--dark {
  color: var(--green);
  border: 2px solid var(--green);
}

.primary-content__dob-input {
  background-color: var(--white);
  width: 400px;
  text-align: center;
}

.primary-content__check-btn {
  background-color: var(--green);
  padding: 5px 15px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 350ms, color 350ms;
}

.primary-content__check-btn--dark {
  background-color: var(--blue);
}

.primary-content__check-btn:hover {
  background-color: var(--blue);
  color: var(--green);
}

.primary-content__check-btn--dark:hover {
  background-color: var(--green);
  color: var(--blue);
}

.loading {
  width: 20px;
  height: 20px;
  border: 10px solid var(--green);
  border-top: 10px solid var(--blue);
  transform: rotate(-45deg);
  animation: load 1s infinite linear;
  display: block;
  margin: 0 auto;
}

.loading--dark {
  border-color: var(--blue);
  border-top-color: var(--green);
  animation: load--dark 1s infinite linear;
}

@keyframes load {
  25% {
    border: 10px solid var(--green);
    border-right: 10px solid var(--blue);
  }
  50% {
    border: 10px solid var(--green);
    border-bottom: 10px solid var(--blue);
  }
  75% {
    border: 10px solid var(--green);
    border-left: 10px solid var(--blue);
  }
}

@keyframes load--dark {
  25% {
    border: 10px solid var(--blue);
    border-right: 10px solid var(--green);
  }
  50% {
    border: 10px solid var(--blue);
    border-bottom: 10px solid var(--green);
  }
  75% {
    border: 10px solid var(--blue);
    border-left: 10px solid var(--green);
  }
}

.output {
  transition: opacity 500ms;
}

.footer {
  background-color: var(--green);
  padding: 20px 0;
}

.footer--dark {
  background-color: var(--blue);
}

.footer__links {
  text-decoration: none;
  color: var(--blue);
  margin: 10px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 20px;
  transition: transform 350ms ease-out;
}

.footer__links--dark {
  color: var(--green);
}

.footer__links:hover {
  transform: translateY(-10px) scale(1.4);
}
